<div class="container">
  <h1>Add a new instrument</h1>
  <%= simple_form_for @instrument do |f| %>
    <%= f.input :product_name %>
    <%= f.input :price %>
    <%= f.input :category, collection: Instrument::CATEGORIES %>
    <%= f.input :img_url %>
    <%= f.submit %>
  <% end %>
</div>
