<div class="container">
  <h1><%= @instrument.product_name %></h1>
    <% if current_user.instruments.include?(@instrument) %>
      <h2>You own this instrument</h2>
    <% else %>
      <%= simple_form_for [@instrument, @booking] do |f|%>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.submit %>
      <% end %>
      <hr>
      <%= simple_form_for [@instrument, @review] do |f| %>
        <%= f.input :comment, placeholder: "Write here a comment" %>
        <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
        <%= f.submit %>
      <% end %>
    <% end %>

    <hr>

    <h4>Reviews:</h4>
    <% @reviews.each do |review| %>
      <%= render 'reviews/review', review: review %>
    <% end %>
</div>
